.fondoAnotador{
    background-color: rgba(224, 232, 234, 0.234);
}
.anotador{
    max-width: 900px;
    margin: auto;
}

.anotador .presentacion h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}

.anotador .contenedorLista{
    /* background-color: #530ccd;
    color: white; */
    border-radius: 40px;
}