.fondoAnotador{
    background-color: rgba(224, 232, 234, 0.234);
}
.anotador{
    max-width: 900px;
    margin: auto;
}

.anotador .presentacion h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}

.anotador .contenedorLista{
    background-color: #e1eef5;
    border-radius: 40px;
}

.anotador h3{
    color: #08a2de;
    font-size: 30px;
    font-weight: bold;
}