.anotador .presentacion h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}

.anotador table{
    background-color: rgb(255, 255, 255);
    border: solid 2px #08a2de;
    padding: 10px;
    /* border-radius: 15px; */
}


.agregarNota{
    background-color: rgba(188, 210, 230, 0.646);
    padding: 15px;
    border-radius: 15px;
}

.anotador h3{
    color: #08a2de;
    font-size: 30px;
    font-weight: bold;
}
.anchoTodo{
    max-width: 900px;
    margin: auto;
}

@media screen and (max-width:768px) {
    .notasHechas{
        margin-top: 40px;
    }
}