.contadorDias{
    max-width: 350px;
    /* background-color: #afd9ec; */
    /* color: white; */
    border-radius: 40px;
    /* padding: 25px; */
    margin: auto;
    background-color: rgb(239, 247, 255);
    box-shadow: 0 0 10px 1px rgb(144, 144, 144);
}

.contadorDias h2{ 
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.contadorDias .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contadorDias .contenedor label{
    color: #08a2de;
    font-size: 30px;
    font-weight: bold;
}