.contadorDias{
    max-width: 900px;
    background-color: #530ccd;
    color: white;
    border-radius: 40px;
    padding: 25px;
    margin: auto;
}

.contadorDias h1{
    text-align: center;
}

.contadorDias .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}