.cursos .curso{
    border: solid 2px #250759;
    border-radius: 10px;
    /* background-color: aqua; */
}

.cursos h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}

.cursos .curso:hover{
    box-shadow: 0 0 10px 2px #8c8c8c;
}