.dashboard{
    max-width: 900px;
    margin: auto;
    /* background-color: aqua; */
}

.dashboard .saludo{
    /* background-color: rgb(20, 144, 226); */
    background-color: #0b83af;
    color: white;
    border-radius: 40px;
}

.dashboard .funcionalidades{
    /* background-color: rgb(20, 144, 226); */
    background-color: #0b83af;
    border-radius: 40px;
    color: white;
}

.dashboard .funcionalidades .funcMini{
    border-radius: 10px;
    text-align: center;
}
.dashboard .funcionalidades .funcMini:hover{
    background-color: #0b83af;
    box-shadow: 0 0 10px 2px rgb(0, 69, 171);
    cursor: pointer;
}
.saludo{
    height: 125px;
}
.saludo div img{
    width: 150px;
    margin-bottom: 40px;
}
.saludo div h3{
    margin-left: 25px;
}
.saludo div p{
    margin-left: 25px;
}

.dashboard .agradecimiento{
    background-color: #0b83af;
    border-radius: 40px;
    color: white;
}

/* Media queries para diseño responsivo */
@media (max-width: 600px) {
    .saludo {
        height: auto;
        flex-direction: column; 
    }
    .saludo div img {
        width: 125px;
    }
    .saludo div h3{
        margin-left: 0px;
    }
    .saludo div p{
        margin-left: 0px;
    }
}