.fondoDashboard{
    background-color: rgba(224, 232, 234, 0.234);
    /* background-image: url(../assets/fondo3.jpg); */

}
.dashboard{
    max-width: 1000px;
    margin: auto;
}

.dashboard .saludo h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}

.dashboard .funcionalidades{
    /* background-color: rgb(20, 144, 226); */
    background-color: #0b83af;
    border-radius: 40px;
    color: white;
}

.dashboard .funcionalidades .funcMini{
    border-radius: 10px;
    text-align: center;
    height: 120px;
    margin: auto;
    transition: transform 0.4s;
}
.dashboard .funcionalidades .funcMini:hover{
    background-color: #0b83af;
    box-shadow: 0 0 10px 2px rgb(4, 37, 88);
    cursor: pointer;
    transform: scale(1.1);
    padding: 3px;    
}
.saludo{
    height: 125px;
}
.saludo div img{
    width: 150px;
    margin-bottom: 40px;
}
.saludo div h3{
    margin-left: 25px;
}
.saludo div p{
    margin-left: 25px;
}

.dashboard .agradecimiento{
    background-color: #0b83af;
    border-radius: 40px;
    color: white;
}

/* Media queries para diseño responsivo */
@media (max-width: 600px) {
    .saludo {
        height: auto;
        flex-direction: column; 
    }
    .saludo div img {
        width: 125px;
    }
    .saludo div h3{
        margin-left: 0px;
    }
    .saludo div p{
        margin-left: 0px;
    }
}