/* .navbar{
  background-color: #dfebfe;
  } */
.navbar{
  background-color: #4aa3db;
  /* background-color: #cfebfc; */
  color: white;
}
.headerLogo{
  background-color: #abd7f3;
}
.colorNav{
  color: rgb(218, 126, 6);
}