.login{
    /* background-color: rgb(234, 170, 229); */
    /* background-image: url(../assets/1.png); */
    /* background-image: url(../assets/fondo1.png); */
    /* background-image: url(../assets/fondo2.png); */
    background-image: url(../assets/fondo5.png);
    /* background-image: url(../assets/fondo6.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login .cardContenido{
    background-color: rgba(211, 238, 246, 0.539);
    border-radius: 20px;
    max-width: 600px;
    border: solid 3px rgb(6, 69, 87);
    margin: 15px;
}
.login .cardContenido:hover{
    background-color: rgb(211, 238, 246);
}
