.fondoMedicos{
    /* background-color: rgba(224, 232, 234, 0.234); */
}
.medicos h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}

.medicos .medico{
    border: solid 2px #250759;
    border-radius: 10px;
    /* background-color: aqua; */
}