.fondoMedicos{
    /* background-color: rgba(224, 232, 234, 0.234); */
}
.medicos h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}

.medicos .medico{
    border: solid 2px #250759;
    border-radius: 10px;
    /* background-color: aqua; */
}

.medicos .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .medicos  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    max-height: 600px;
    overflow-y: auto;
    border: solid 3px rgb(47, 114, 172);
    box-shadow: 0 0 10px 1px #6db7d7;
  }
  
  .medicos .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }