.register{
    /* background-color: rgb(234, 170, 229); */
    /* background-image: url(../assets/1.png); */
    /* background-image: url(../assets/fondo5.png); */
    background-image: url(../assets/fondo1.jpg);
}
.register .cardContenido{
    background-color: rgb(183, 227, 241);    
    border-radius: 20px;
    max-width: 600px;
    border: solid 4px rgb(6, 69, 87);
    box-shadow: 0 0 10px 2px rgb(21, 43, 49);
}
