.fondoPrincipal{
    background-color: #08a2de;
}
.caja{
    max-width: 1400px;
    margin: auto;
    background-color: white;
    text-align: center;
}

header, .navbar{
    background-color: #CDE5F7;
}
.natuser{
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    color: #08a2de;
    /* font-size: 40px; */

}
.botonIniciarSesion{
    border-color: #08a2de;
    color: #08a2de;
    border-width: 2px;
    font-weight: 600;
}

.navbar ul li a{
    font-size: 16px;
}

/* --------------------------------------------------------------------------- */
.carruselEstilos h2{
    color: #ffffff;
    /* background-color: rgba(0, 0, 0, 0.361); */
    /* background-color: rgba(3, 39, 55, 0.459); */
    /* border-radius: 10px; */
    /* margin-bdottom: 15px; */
}

.seccion1f{
    background-color: rgb(206, 225, 233);
}
.seccion1{
    text-align: left;
    max-width: 1200px;
    margin: auto;
}
.seccion1 #natuser{
    color: #0a88b9;
    font-size: 75px;
}