.fondoPrincipal{
    background-color: #08a2de;
}
.caja{
    max-width: 1400px;
    margin: auto;
    background-color: white;
    text-align: center;
}

.anchoNav{
}
.natuser{
    font-family: Tahoma, sans-serif;
    color: #08a2de;
    font-size: 70px;

}
.botonIniciarSesion{
    border-color: #08a2de;
    color: #08a2de;
    border-width: 2px;
    font-weight: 600;
}

.navbar ul li a{
    font-size: 16px;
}

/* --------------------------------------------------------------------------- */

.home h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}
.home .seccion3 h3{
    color: #08a2de;
}
.seccion1f{
    background-color: rgb(206, 225, 233);
}
.seccion1{
    text-align: left;
    margin: auto;
}
.seccion1 #natuser{
    color: #08a2de;
    font-size: 75px;
}

.seccion3 div div img{
    border-radius: 100%;
}

.imgHomeBebe{
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}

.seccion4 {
    background-color: rgb(206, 225, 233)
}
.seccion4Prueba div div{
}


.seccion5{
    background-color: rgb(206, 225, 233);
}
.seccion5 div{
    max-width: 700px;
    margin: auto;
}

/* QUIENES SOMOS */
.nosotros .quienesSomos{
    background-color: rgb(206, 225, 233);
}

.nosotros .valores h2{
    color: #08a2de;
    font-size: 50px;
    font-weight: bold;
}
.nosotros .bodyNosotros .valores h2, p{
    /* text-align: left; */
}

.nosotros .bodyNosotros{
    max-width: 1000px;
    margin: auto;
}

/* CONTACTO */

.contacto1Fondo h2{
    /* background-color: rgb(206, 225, 233); */
    /* height: 250px; */
    color: #08a2de;
}
.contacto1Fondo{
    max-width: 1000px;
    margin: auto;
}
.seccion1c div h2{
    /* background-color: #adcfdc; */
    font-size: 55px;
    font-weight: bold;
}

.contenedorFormInfo{
    box-shadow: 0 0 20px 1px rgb(169, 169, 169);
    background-color: rgb(207, 228, 242);
    border-radius: 15px;
    max-width: 1000px;
    margin: auto;
}

.contactoInfo{
    /* background-color: #79b6d5; */
    /* border-top-right-radius: 35px;
    border-bottom-right-radius: 35px; */
}

.cardContacto div{
    /* background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 8px 1px rgb(105, 105, 105); */
}

/* FORMULARIO */
.formulario{
    background-color: rgb(207, 228, 242);
}

