@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500;600;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}
#nat{
    font-weight: 700;
}
#user{
    font-weight: 600;
}